<div class="fixed-bottom mb-3">
    <nav class="navbar navbar-expand-lg transparent">
        <button id="chat-toggle-btn" class="btn btn-secondary ml-auto px-5 py-1" type="button">Chat</button>
    </nav>
</div>
<div id="chat-box">
    <div id="chat-text-box">
        <table class="table table-borderless">
            <tbody id="chat-messages">

            </tbody>
        </table>
    </div>
    <form onsubmit="event.preventDefault();sendChatMessage();">
    <div id="chat-input-group" class="input-group">
        <input id="chat-typed-message" type="text" name="text" value="" autocomplete="off">
            <div class="input-group-append">
                <button class="btn btn-primary btn-sm" type="submit">Send</button>
            </div>
        </form>
    </div>
</div>
