<div class="fixed-bottom mb-3">
    <nav class="navbar navbar-expand-lg transparent">
        <button id="chat-toggle-btn" class="btn btn-secondary ml-auto px-5 py-1" type="button">Chat</button>
    </nav>
</div>
<div id="chat-box">
    <div id="chat-text-box">
            <span class="chat-text">test text</span>
    </div>
    <div id="chat-input-group" class="input-group">
            <input type="text" name="text" value="" class="pr-auto">
            <div class="input-group-append">
                <button class="btn btn-primary btn-sm" type="button" name="button">Send</button>
            </div>
    </div>
</div>
