<div class="nav">
    <a href="/">Home</a> | <a href="/pages/new">New Page</a> | <a href="/pages">Pages</a> | <a href="/articles">Articles</a> | <a href="#" onclick="event.preventDefault();clickMe();">Javascript Test</a> <br>
    <hr />
</div>
