<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">{{ name | title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Articles
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/articles">List of Articles</a>
                    <a class="dropdown-item" href="/articles/new">Create a New Article</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/articles?_id=5bb5941c6273bc983b8e04f4">A Pinned Article</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Pages
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/pages">List of Pages</a>
                    <a class="dropdown-item" href="/pages/new">Create a New Page</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/pages?_id=5bb5941c6273bc983b8e04f4">A Page That Doesn't Exist</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="event.preventDefault();clickMe();">Javascript Test</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-secondary my-2 my-sm-0 px-5 py-1" type="submit">Login</button>
        </form>
    </div>
</nav>
