{% extends "index.njk" %}

{% block body %}
    {% block articlesNewForm %}
    <form class="form" action="/articles" method="post">
        Title: <br>
        <input type="text" name="title" value=""><br><br>
        Content: <br>
        <textarea name="content" rows="8" cols="80"></textarea><br><br>
        <button type="submit">Submit</button>
    </form>
    {% endblock %}
{% endblock %}
