{% extends "index.njk" %}

{% block body %}
    {% block title %}
        <p><u>{{ page.title }}</u></p>
    {% endblock %}
    {% block content %}
        {{ page.content | safe }}
    {% endblock %}
{% endblock %}
