{% extends "index.njk" %}

{% block body %}
    {% if pages | length %}
        <p>Pages:</p>
        {% for page in pages %}
            <a href="/pages?_id={{ page._id }}">{{ page.title }}</a><br>
        {% endfor %}
        {% else %}
            <p>No pages yet! <a href="/pages/new">Create One</a></p>
    {% endif %}
{% endblock %}
